<c-col xs="12">
  <c-card class="mb-4">   
    <c-card-header>Resumen</c-card-header>
<!-- First line -->
<c-card-body class="filter-container">
  <div class="filter-item">
    <label for="stationSelect">Station:</label>
    <div class="filter-input">
      <select id="stationSelect" aria-label="Select station" cSelect>
        <option disabled selected>Select Station</option>
        <option value="1">Station 1</option>
        <option value="2">Station 2</option>
        <option value="3">Station 3</option>
      </select>
    </div>
  </div>
  <div class="filter-item">
    <label for="elementSelect">Element:</label>
    <div class="filter-input">
      <select id="elementSelect" aria-label="Select element" cSelect>
        <option disabled selected>Select Element</option>
        <option value="1">Element 1</option>
        <option value="2">Element 2</option>
        <option value="3">Element 3</option>
      </select>
    </div>
  </div>
  <div class="filter-item">
    <label for="elementSelect">Team:</label>
    <div class="filter-input">
      <select id="elementSelect" aria-label="Select element" cSelect>
        <option disabled selected>Select Team</option>
        <option value="1">Equip 1</option>
        <option value="2">Equip 2</option>
        <option value="3">Equip 3</option>
      </select>
    </div>
  </div>
</c-card-body>
<!-- Second line -->
<c-card-body class="filter-container">
  <div class="filter-item">
    <label for="stationSelect">Event:</label>
    <div class="filter-input">
      <select id="stationSelect" aria-label="Select station" cSelect>
        <option disabled selected>Select Event</option>
        <option value="1">Event 1</option>
        <option value="2">Event 2</option>
        <option value="3">Event 3</option>
      </select>
    </div>
  </div>
  <div class="filter-item">
    <label for="elementSelect">Priority:</label>
    <div class="filter-input">
      <select id="elementSelect" aria-label="Select element" cSelect>
        <option disabled selected>Select Priority</option>
        <option value="1">Priority 1</option>
        <option value="2">Priority 2</option>
        <option value="3">Priority 3</option>
      </select>
    </div>
  </div>
  <div class="filter-item">
    <label for="elementSelect">User:</label>
    <div class="filter-input">
      <select id="elementSelect" aria-label="Select element" cSelect>
        <option disabled selected>Select Element</option>
        <option value="1">Admin</option>
        <option value="2">User 2</option>
        <option value="3">User 3</option>
        <option value="3">Tannaz</option>
      </select>
    </div>
  </div>
</c-card-body>
<!-- Third line -->
<c-card-body class="filter-container">
  <div class="filter-item">
    <label for="stationSelect">Starting date</label>
    <div class="filter-input">
      <select id="stationSelect" aria-label="Select station" cSelect>
        <option disabled selected>Select date</option>
        <option value="1">Event 1</option>
        <option value="2">Event 2</option>
        <option value="3">Event 3</option>
      </select>
    </div>
  </div>
  <div class="filter-item">
    <label for="elementSelect">Ending date:</label>
    <div class="filter-input">
      <select id="elementSelect" aria-label="Select element" cSelect>
        <option disabled selected>Select date</option>
        <option value="1">Priority 1</option>
        <option value="2">Priority 2</option>
        <option value="3">Priority 3</option>
      </select>
    </div>
  </div>
</c-card-body>
<button cButton color="primary">Search</button>
  </c-card>
</c-col>