
<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Resumen</h4>
        <div class="small text-medium-emphasis">January - December 2023</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Week"
            />
            <label
              (click)="setTrafficPeriod('Week')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Week</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <!-- The big chart-->
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <!-- 
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer> -->
</c-card>

<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand> -->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Resumen</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">Alarts</th>
              <th class="text-center">Import date</th>
              <th class="text-center">Today total</th>
              <th class="text-center">Yesterday total</th>
              <th class="text-center">Total of current month</th>
              <th class="text-center">Total of previous month</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <div>{{ user.system }}</div>
              </td>
              <td class="text-center">{{ user.date }}
              </td>
              <td class="text-center">
                <div>{{user.totalToday}}</div>
              </td>
              <td class="text-center">
                <div>{{user.totalYesterday}}</div>
              </td>
              <td class="text-center">
                <div>{{user.totalMonth}}</div>
              </td>
              <td class="text-center">
                <div>{{user.totalLastMonth}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
